body {
  margin-top: 0;
}

h1.mdc-typography {
  font-size: 3rem;
}

main {
  max-width: 700px;
  margin: auto;
}

.mdc-text-field {
  width: 100%;
}

#count-box {
  text-align: right;
  padding-right: 4px;
}

#sort-box {
  text-align: right;
  padding-right: 4px;
  cursor: pointer;
}

.last-eaten {
  font-style: italic;
}

#meta div {
  width: 100%;
}

@media (min-width: 450px) {
  #meta {
    overflow: auto;
  }

  #meta div {
    float: left;
    clear: left;
    width: auto;
  }

  #meta #count-box, #meta #sort-box {
    text-align: left;
    float: right;
  }

  #meta #count-box {
    clear: right;
  }
}

.mdc-list-item__secondary-text {
  white-space: normal;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}
