body {
  margin-top: 0;
}

main {
  max-width: 700px;
}

.mdc-text-field {
  width: 100%;
}

#requires-box {
  float: left
}

#count-box {
  text-align: right;
}

.mdc-list-item__secondary-text {
  white-space: normal;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}
